header {
    width: 100%;
    height: 140px;
    background: linear-gradient(180deg,#f5f7fa 0px 20px, white 20px 90px, #ffaf1e 90px 140px);
}

header > section.header_content {
    margin: 0 auto;
    width: 1066px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 70px 50px;
    align-items: center;
}

header > section.header_content > div:nth-child(1) {
    display: flex;
    color: #a3aab7;
}

header > section.header_content > div:nth-child(1) > div  {
    margin-right: 10px;
}
 header > section.header_content > div:nth-child(2n) {
    display: flex;
    justify-content: flex-end;
}

header > section.header_content > div:nth-child(2) {
    color: #3f3f40;
}

header > section.header_content > div:nth-child(2) > div.line {
    margin: 0px 10px 0px 10px;
    border-right: 2px solid gray;
}


/*---------------------Логотип корзина------------------------  */

header > section.header_content > div:nth-child(3) {
    display: none;
}

header > section.header_content > div:nth-child(4){
    justify-content: flex-start;
}

header > section.header_content > div:nth-child(4) > div.logo {
    width: 100px;
    height: 40px;
    background: no-repeat url(../img/logo.png);
    background-position: top;
}

header > section.header_content > div:nth-child(5) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > section.header_content > div:nth-child(5) > div.basket_img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: no-repeat url(../img/shop.png);
    background-size: 100%;
}

header > section.header_content > div:nth-child(5) > div.basket > h3 {
    font-weight: 900;
    margin: 0px;
}

header > section.header_content > div:nth-child(5) > div.basket > h5 {
    color: #9ea5b2;
    margin: 0px;
}

/* --------------------Форма пошуку---------------------- */

header > section.header_content > div:nth-child(6) {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > section.header_content > div:nth-child(6) > div.search_select {
    width: 100px;
    color: white;
}

header > section.header_content > div:nth-child(6) > form{
    display: flex;
    flex-wrap: nowrap;
}

header > section.header_content > div:nth-child(6) form .search {
    width: 600px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid white;
    border-radius: 3px;
    color: #bdc2c6;
}

header > section.header_content > div:nth-child(6) form .submit {
    width: 100px;
    height: 34px;
    margin-left: 20px;
    background-color: #ffaf1e;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
}

/* ---------------------------МЕЙН------------------------ */

main {
    width: 1066px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
/* ---------------------------Головне меню навігації------------------------ */
main > section.nav_menu {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 35px;
    border-top: 2px solid #eef0f4;
}

main > section.nav_menu > div {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #7b7c7d;
    background-color: #f5f7fa;
    border-bottom: 2px solid #eef0f4;
    border-right: 2px solid #eef0f4;
    border-left: 2px solid #eef0f4;
}

/* ---------------------------Основний контент------------------------ */
main > section.content {
    width: 800px;
}

main > section.content > div.way {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

main > section.content > div.way > div {
    width: 10px;
    height: 0px;
    margin: 0px 5px;
    border: 1px solid #b0b6c0;
}

main > section.content > div.way > h5 {
    margin: 0px;
    color: #b0b6c0;
}

main > section.content > div.way > h5:nth-child(5) {
    margin: 0px;
    color:#595959;
}

main > section.content > div.setings_filter {
    display: grid;
    grid-template-columns:1fr 1fr 4fr 1fr 1fr;
    grid-auto-rows: 35px;
    grid-column-gap: 10px;
}

main > section.content > div.setings_filter > button:nth-child(3n+1) {
    background-color: #ffffff;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 14px;    
}

main > section.content > div.setings_filter > button:nth-child(3n+2) {
    background-color: orange    ;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    white-space: nowrap;
}

main > section.content > h5 > span {
    color: #bcc1ca;
}

main > section.content > div.product_selection {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

}

main > section.content > div.product_selection > div.product_information {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-top: 1px solid #eef0f4;
    border-bottom: 1px solid #eef0f4;
}

main > section.content > div.product_selection > div.product_information > div {
    text-align: center;
}
main > section.content > div.product_selection > div.product_information > div:nth-child(2) {
    display:grid;
    grid-template-columns: 1fr;
}

main > section.content > div.product_selection > div.product_information >div:nth-child(4) > button{
    margin: 21px;
    width: 100px;
    height: 35px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 14px;
    color: white;
}

/* --------------------АДАПТИВ----------------------- */
@media only screen and (max-width:1200px) {
    header {
        background: #ffaf1e;
        height: 50px;
    }
    header > section.header_content{
        width: 100%;
        grid-template-columns: 1fr 1fr 3fr 1fr;
        grid-template-rows: 50px;
    }

    header > section.header_content > div {
        justify-content: center;
    }

    header > section.header_content >div:nth-child(1){
        display: none;
    }

    header > section.header_content >div:nth-child(2){
        display: none;
    }

    header > section.header_content >div:nth-child(3) {
        display: flex;
    }
    /* ----------------------бУргер меню------------------------ */

    .menu-btn{
        display: flex;
        align-items: center;
    
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    
    .menu-btn > span, .menu-btn > span::before, .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 26px ;
    height: 2px;
    background-color: black;
    transition-duration: .10s;
    }
    .menu-btn > span::before {
    content: '';
    top: -8px;
    }
    .menu-btn > span::after {
    content: '';
    top: 8px;
    }
    
    .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: 0.25s;
    }
    
    .menu-item {
    display: block;
    padding: 12px 24px;
    border-top: 1px solid hsl(223, 8%, 82%);
    border-bottom: 1px solid hsl(223, 8%, 82%);
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    }
    .menu-item:hover {
    background-color: #CFD8DC;
    }
    #menu-toggle{
    opacity: 0;
    }
    
    #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);

    }
    #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);

    }
    #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
    }

    header > section.header_content >div:nth-child(4) > div.logo {
        background-position: center;
        background-size: 5em;

    } 

    header > section.header_content > div:nth-child(5) {
        justify-content: center;
    }
    header > section.header_content > div:nth-child(5) > div.basket_img {
        width: 30px;
        height: 30px;
    }

    header > section.header_content > div:nth-child(5) > div.basket {
        display: none;
    }

    header > section.header_content >div:nth-child(6) {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    header > section.header_content > div:nth-child(6) > div.search_select, .submit {
        display: none;
    }

    header > section.header_content > div:nth-child(6) form {
        width: 100%;
    }
    header > section.header_content > div:nth-child(6) form .search {
        width: 100%;
        font-size: 12px;
        padding-left: 5px;
    }
    /* ----------основне меню адаптив-------------- */

    main {
        width: 100%;
    }

    main > section.nav_menu {
        display: none;
    }

    main > section.content{
        width: 100%;
        margin: 0 5px;
    }

    main > section.content > h2 {
        font-size: 19px;
    }
    
    main > section.content > div.setings_filter {
        grid-template-columns: repeat(5, 1fr);
    }
    main > section.content > div.product_selection {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: auto;
        grid-gap:5px;
        justify-content: center;
    }
    main > section.content > div.product_selection > div.product_information {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid blue;
    }

    main > section.content > div.product_selection > div.product_information >div:nth-child(1) > img {
        width: 100%;
        max-width: 300px;
    }
    main > section.content > div.product_selection > div.product_information > div{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    
}
  