header {
    width: 100%;
    height: auto;
}

/*---------------------Навігація логін------------------------  */

header > section.nav {
    height: 20px;
    width: 100%;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
}

header > section.nav > div.menu_nav {
    display: flex;
    justify-content: space-between;
    width: 1066px;
}

header > section.nav > div.menu_nav > .content_nav {
    display: flex;
    color: #a3aab7;
}

header > section.nav > div.menu_nav > .content_nav div {
    margin-right: 10px;
}

header > section.nav > div.menu_nav > .login {
    display: flex;
    color: #3f3f40;
}

header > section.nav >.menu_nav > div.login div.line {
    margin: 0px 10px 0px 10px;
    border-right: 2px solid gray;
}

/*---------------------Логотип корзина------------------------  */

header > section.logo_shop {
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

header > section.logo_shop > div.conteiner_logo_shop{
    width: 1066px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > section.logo_shop > div.conteiner_logo_shop > div.logo {
    width: 100px;
    height: 40px;
    background: no-repeat url(../img/logo.png);
}

header > section.logo_shop > div.conteiner_logo_shop > div.shop {
    display: flex;
    align-items: center;
}

header > section.logo_shop > div.conteiner_logo_shop > div.shop > .basket_img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: no-repeat url(../img/shop.png);
    background-size: 100%;
}

header > section.logo_shop > div.conteiner_logo_shop > div.shop > div.basket h3 {
    margin: 0px;
    font-weight: 900;
}

header > section.logo_shop > div.conteiner_logo_shop > div.shop > div.basket h5 {
    margin: 0px;
    color: #9ea5b2;
}


/*---------------------Лінія пошуку------------------------  */

header > section.search {
    width: 100%;
    height: 50px;
    background-color: #ffaf1e;
    display: flex;
    justify-content: center;
}
header > section.search> div.conteiner_search {
    width: 1066px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > section.search> div.conteiner_search > div.search_select {
    width: 100px;
    color: white;
}

header > section.search> div.conteiner_search > form{
    display: flex;
    flex-wrap: nowrap;
}

header > section.search> div.conteiner_search > form .search {
    width: 600px;
    height: 30px;
    padding-left: 20px;
    border: 1px solid white;
    border-radius: 3px;
    color: #bdc2c6;
}

header > section.search> div.conteiner_search > form .submit {
    width: 100px;
    height: 34px;
    margin-left: 20px;
    background-color: #ffaf1e;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
}

/* ---------------------------МЕЙН------------------------ */

main {
    width: 1066px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
/* ---------------------------Головне меню навігації------------------------ */
main > section.nav_menu {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 35px;
    border-top: 2px solid #eef0f4;
}

main > section.nav_menu > div {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #7b7c7d;
    background-color: #f5f7fa;
    border-bottom: 2px solid #eef0f4;
    border-right: 2px solid #eef0f4;
    border-left: 2px solid #eef0f4;
}

/* ---------------------------Основний контент------------------------ */
main > section.content {
    width: 800px;
}

main > section.content > div.way {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

main > section.content > div.way > div {
    width: 10px;
    height: 0px;
    margin: 0px 5px;
    border: 1px solid #b0b6c0;
}

main > section.content > div.way > h5 {
    margin: 0px;
    color: #b0b6c0;
}

main > section.content > div.way > h5:nth-child(5) {
    margin: 0px;
    color:#595959;
}

main > section.content > div.setings_filter {
    display: grid;
    grid-template-columns:1fr 1fr 4fr 1fr 1fr;
    grid-auto-rows: 35px;
    grid-column-gap: 10px;
}

main > section.content > div.setings_filter > button:nth-child(3n+1) {
    background-color: #ffffff;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 14px;    
}

main > section.content > div.setings_filter > button:nth-child(3n+2) {
    background-color: orange    ;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    white-space: nowrap;
}

main > section.content > h5 > span {
    color: #bcc1ca;
}

main > section.content > div.product_selection {
    display: grid;
    grid-template-columns:1fr 3fr 1fr 2fr;
    grid-auto-rows: 100px;
    border-top: 1px solid #eef0f4;
}

main > section.content > div.product_selection > div:nth-child(1) {
    display: flex;
    align-items: center;
}
main > section.content > div.product_selection > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main > section.content > div.product_selection > div:nth-child(4) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main > section.content > div.product_selection > div:nth-child(4) > button{
    width: 100px;
    height: 35px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 14px;
    color: white;
}

main > section.content > div.product_selection > div > h3{
    margin:0px;
}

main > section.content > div.product_selection > div > h4{
    margin:0px;
}

main > section.content > div.product_selection > div > h5{
    margin:0px;
    color: #bec3cc;
}

/* --------------------АДАПТИВ----------------------- */
@media only screen and (max-width:1200px) {
    header > section.nav {
        display: none;
    }

    header > section.logo_shop {
      height: 35px;
    }

    header > section.logo_shop > div.conteiner_logo_shop > div.logo {
        margin: 0 auto;
    }
    header > section.logo_shop > div.conteiner_logo_shop > div.shop > div.basket {
        display: none;
    }
    
    header >  section.search > div.conteiner_search {
        width: 100%;
    }
    header > section.search> div.conteiner_search > form .search {
        width: 70%;
  
    }
    header > section.search> div.conteiner_search > div.search_select {
        display: none;
    }
    main > section.nav_menu {
        display: none;
    }
    
    
    
    
    
    
    

}